/* styles for the desktop mode */

.TodoCard{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    box-shadow: rgb(21 122 197 / 57%) 0px 3px 8px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}
.TodoCard>h4{
    margin-left: 15px;
}
.TodoCardButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
    margin-right: 15px;
}
.TodoCardButton>button:first-child{
    padding: 5px 10px 5px 10px;
    background-color: white;
    border: none; 
}
.TodoCardButton>button:nth-child(2){
    padding: 5px 10px 5px 10px;
    background-color: white;
    border: none;
    border-radius: 5px; 
    letter-spacing: 1px;
    color: black;
    background-color: rgba(245, 62, 62, 0.603);
}
.TodoCardButton>button:nth-child(2):hover{
    color: white;
    background-color: red;
    border:none;
    border-radius: 10px;
    
}
.TodoCardButton>button:last-child{
    padding: 5px 10px 5px 10px;
    background-color: white;
    border: none;
    border-radius: 5px; 
    letter-spacing: 1px;
    color: black;
    background-color: rgba(0, 128, 0, 0.692);
}
.TodoCardButton>button:last-child:hover{
    color: white;
    background-color: green;
    border:none;
    border-radius: 10px;
    
}

/* styles for the mobile or tablet mode */
@media screen and (max-width: 768px) {
    .TodoCard{
        flex-direction: column;
    }
    .TodoCard>h4{
        margin-left: 5px;
        margin-right: 5px;
    }
    .TodoCardButton{
        gap:15px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-top: 1px solid black;
        padding-top: 10px;
        margin-top: -10px;
        text-align: center;
        padding-right: 10px;
    }
    .TodoCardButton>button:first-child{
        padding: 5px 10px 5px 10px;
        background-color: white;
        border: none; 
    }
    .TodoCardButton>button:nth-child(2){
        padding: 5px 10px 5px 10px;
        background-color: white;
        border: none;
        border-radius: 5px; 
        letter-spacing: 1px;
        color: black;
        background-color: rgba(245, 62, 62, 0.603);
    }
    .TodoCardButton>button:nth-child(2):hover{
        color: white;
        background-color: red;
        border:none;
        border-radius: 10px;
        
    }
    .TodoCardButton>button:last-child{
        padding: 5px 10px 5px 10px;
        background-color: white;
        border: none;
        border-radius: 5px; 
        letter-spacing: 1px;
        color: black;
        background-color: rgba(0, 128, 0, 0.692);
    }
    .TodoCardButton>button:last-child:hover{
        color: white;
        background-color: green;
        border:none;
        border-radius: 10px;
        
    }
}