
.loginSigninDiv{
    display: flex;
    flex-direction: column;
    position: relative;
    top:100px;
    width: 50%;
    margin:auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.loginSigninDiv>div>h3:first-child{
    border-bottom: 2px solid #000;
    margin-bottom: 14px;
}
.loginSigninDiv>div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.SignInDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    /* align-items: center; */
    margin: 20px 5px 10px 20px;
}
.SignInDiv>div:first-child>input{
    width: 90%;
    padding: 10px 10px 2px 1px;
    margin-top: 5px;
    margin-bottom: 10px;
    font:700;
    letter-spacing: 1px;
    border-top:none;
    border-left:none;
    border-right:none;
}
.SignInDiv>div:first-child>input:focus{
    border-top:none;
    border-left:none;
    border-right:none;
    outline: none;
}
.otherMethods{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}
.otherMethods>img{
    width: 10%;
}

.SignInDiv>button{
    padding: 10px 20px 10px 20px;
    width: 50%;
    background-color: blue;
    border: 1px solid blue;
    color: white;
    border-color: blue;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    align-items: center;
    margin-top: 10px;
    font-size: larger;

}
.SignInDiv>button:hover{
    
    background-color: blue;
    color: white;
    border-radius: 25px;
}
.SignInDiv>p{
    text-align: center;
    margin-top: 2px;
    align-items: center;

}
.SignInDiv>p>span{
    color: blue;
}
.SignInDiv>p>span:hover{
    text-decoration: underline;
}
