.TodoListContainer{
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    border-radius: 5px;
    padding-bottom: 25px;
}
.TodoListContainer>h1{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: -2px;
}