/* styles for the desktop mode */

.navbar input[type="checkbox"],
.navbar .hamburgerLines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: white;
  color: #000;
  /* opacity: 0.85; */
  height: 75px;
  z-index: 12;
  margin-top: -20px;
  align-items: center;
  /* margin-bottom: 39px; */
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.menuItems {
  order: 2;
    display: flex;
    align-items: center;
    gap: 30px;
}

.menuItems h3 {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menuItems h3 > a{
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menuItems h3 > a:hover {
  color: blue;
  transition: color 0.1s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  color: blue;
}

.menuItems>button{
  padding: 5px 10px 5px 10px;
    background-color: blue;
    border: 1px solid blue;
    color: white;
    border-color: blue;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    align-items: center;
    margin-top: 20px;
    font-size: larger;
    margin-left: 10px;
}

.userName{
  margin-top: 26px;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-right: -18px;
  color: blue;
}


/* styles for the tablet mode */
@media screen and (max-width: 986px) {

    .navbar {
        opacity: 0.95;
      }
  
    .navbarContainer input[type="checkbox"],
    .navbarContainer .hamburgerLines {
      display: block;
    }
  
    .navbarContainer {
      display: block;
      position: relative;
      height: 64px;
      align-items: center;
      margin-top: -5px;
    }
  
    .navbarContainer input[type="checkbox"] {
      position: absolute;
      display: block;
      height: 32px;
      width: 30px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
    }
  
    .navbarContainer .hamburgerLines {
        height: 23px;
        width: 35px;
        position: absolute;
        top: 40px;
        left: 25px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  
    .navbarContainer .hamburgerLines span {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      /* background: #333; */
      background: white;
    }
  
    .navbarContainer .hamburgerLines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
      background: black;
    }
  
    .navbarContainer .hamburgerLines .line2 {
      transition: transform 0.2s ease-in-out;
      background: black;
    }
  
    .navbarContainer .hamburgerLines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
      background: black;
    }
  
    .navbar .menuItems {
      padding-top: 100px;
      /* background: #fff; */
      background: rgba(0, 0, 0, 0.705);
      height: 100vh;
      max-width: 300px;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -40px;
      padding-left: 50px;
      transition: transform 0.5s ease-in-out;
      box-shadow: 5px 0px 10px 0px #aaa;
    }
  
    .navbar .menuItems h3 > a {
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
      font-weight: 500;
      color: white;
    }
  
    .logo {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 2rem;
    }
  
    .navbarContainer input[type="checkbox"]:checked ~ .menuItems {
      transform: translateX(0);
    
    }
  
    .navbarContainer input[type="checkbox"]:checked ~ .hamburgerLines .line1 {
      transform: rotate(35deg);
      
    }
  
    .navbarContainer input[type="checkbox"]:checked ~ .hamburgerLines .line2 {
      transform: scaleY(0);
      
    }
  
    .navbarContainer input[type="checkbox"]:checked ~ .hamburgerLines .line3 {
      transform: rotate(-35deg);
     
    }
    .userName{
      color:white;
    }

    .menuItems>button{
        margin: 1px;
    }
}