.AddTodoContainer{
    width:70%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
    position: relative;
    top: 80px;
}
.AddTodoContainer>form{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    gap: 20px;
}
.AddTodoContainer>form>input{
    width:90%;
    padding: 7px 10px 7px 10px;
    font-size: larger;
    border-top: none;
    border-left:none;
    border-right: none;
    border-color: blue;
}
.AddTodoContainer>form>input:focus{
    outline: none;
}
.AddTodoContainer>form>button{
    padding: 15px 40px 15px 40px;
    font-size: larger;
    border-radius: 10px;
    border: 1px solid blue;
    background-color: white;
    color: blue;
    letter-spacing: 1px;
    width:30%;
    margin-top: 40px;
}
.AddTodoContainer>form>button:disabled{
    background-color: white;
    color:grey;
    border: 1px solid rgba(128, 128, 128, 0.466);
}
.AddTodoContainer>form>button:disabled:hover{
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.466);
    color:grey;
}
.AddTodoContainer>form>button:hover{
    background-color: blue;
    color:white;
    border: 1px solid blue;
    border-radius: 25px;
}


/* style for the tablet or mobile mode */
@media screen and (min-width:500px) and (max-width: 768px) {
    .AddTodoContainer{
        width:70%;
    }
    .AddTodoContainer>form>input{
        width:80%;
        font-size: large;
       
    }
    .AddTodoContainer>form>input:focus{
        outline: none;
    }
    .AddTodoContainer>form>button{ 
        font-size: large;
    }
    .AddTodoContainer>form>button:disabled{
        background-color: white;
        color:grey;
        border: 1px solid rgba(128, 128, 128, 0.466);
    }
    .AddTodoContainer>form>button:disabled:hover{
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.466);
        color:grey;
    }
    .AddTodoContainer>form>button:hover{
        background-color: blue;
        color:white;
        border: 1px solid blue;
        border-radius: 25px;
    }
}

/* style for mobile screen only */
@media screen and (max-width:500px){
    .AddTodoContainer{
        width:70%;
    }
    .AddTodoContainer>form>input{
        width:70%;
        font-size:large;
       
    }
    .AddTodoContainer>form>input:focus{
        outline: none;
    }
    .AddTodoContainer>form>button{
        padding: 5px 20px 5px 20px;
        font-size: large;
        border-radius: 5px;
    }
    .AddTodoContainer>form>button:disabled{
        background-color: white;
        color:grey;
        border: 1px solid rgba(128, 128, 128, 0.466);
    }
    .AddTodoContainer>form>button:disabled:hover{
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.466);
        color:grey;
    }
    .AddTodoContainer>form>button:hover{
        background-color: blue;
        color:white;
        border: 1px solid blue;
        border-radius: 25px;
    }
    .AddTodoContainer>form>h1{
        font-size: larger;
    }
        
}

@media screen and (max-width:380px){
    .AddTodoContainer>form>button{
        padding: 15px 70px 15px 40px;
    
    }
    .AddTodoContainer>form>button:hover{
        border-radius: 25px;
    }
}
